{% extends 'base.html' %}
{% load static %}

{% block body %}
    <section class="page-section" id="more">
        <div class="container">
            {% if mail_send %}
                <div class="alert alert-success" role="alert">
                    Votre mail a bien été envoyé !
                </div>
            {% endif %}
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="section-heading text-uppercase">Formulaire de contact</h2>
                </div>
            </div>
            <form class="form-group" method="post" action="{% url 'coreContact' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-4 offset-3">
                        <label>adresse mail
                            <input type="email" class="form-control" name="mail"/></label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 offset-3">
                        <label style="width: 100%">Objet
                            <input type="text" class="form-control" name="object"/></label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 offset-3">
                        <label style="width: 100%">Commentaire
                            <textarea class="form-control" name="message" rows="10"> </textarea></label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 offset-3">
                        <input type="submit" class="btn btn-dark" value="envoyer">
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}