{% extends 'base.html' %}
{% load static %}

{% block masthead_image %}{% static 'core/img/man&dog.jpg' %}{% endblock %}

{% block masthead_body %}
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading text-uppercase">
                <blockquote class="blockquote text">
                    <p class="mb-0 h1">
                        On ne peut aider tout le monde,<br/>
                        Mais tout le monde peut aider quelqu'un
                    </p>
                    <footer class="blockquote-footer text-white">
                        Vincent Macario
                    </footer>
                </blockquote>
            </div>
            <scrollactive>
                <a class="btn btn-dark border-warning btn-xl text-uppercase scrollactive-item" href="#more">
                    Le concept en vidéo
                </a>
            </scrollactive>
        </div>
    </div>
{% endblock %}
{% block body %}

    {# Concept #}
    <section class="bg-light page-section" id="more">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Le concept</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fZ3HkgnrgWk?rel=0"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Team #}
    <section class="page-section" id="more">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">L'équipe</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid"
                                     src="{% static 'core/img/team/macario-150x150.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Vincent</h4>
                                    <h4 class="subheading text-muted">Créateur</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Depuis 2016 j’aide les plus démunis dans la vie de tous les jours pour faire en
                                        sorte de rendre ce monde meilleur et surtout plus altruiste ! Si vous suivez mes
                                        différentes actions vous devez maintenant connaître par cœur mon slogan : « On
                                        ne peut pas aider tout le monde, mais tout le monde peut aider quelqu’un… »
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{% static 'core/img/team/guillaume.png' %}"
                                     alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Guillaume</h4>
                                    <h4 class="subheading text-muted">Cameraman</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Je suis très sensible à cette cause, c’est pourquoi j’ai décidé de me joindre au
                                        mouvement “Esprits rebelles” et venir en aide aux personnes dans le besoin.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Et vous ?</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section" id="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-suitcase fa-stack-1x fa-inverse"></i>
          </span>
                    <h4 class="service-heading">Etape 1 : L'hébergement</h4>
                    <p class="text-muted">
                        Cette première étape consiste à héberger une personne sans domicile fixe. Si vous avez la
                        possibilité de le faire, ou que vous connaissez quelqu'un, n'hésitez pas à vous rendre sur la
                        rubrique "je souhaite héberger un SDF".
                    </p>
                </div>
                <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-road fa-stack-1x fa-inverse"></i>
          </span>
                    <h4 class="service-heading">Etape 2 : la psychologie</h4>
                    <p class="text-muted">
                        Une fois le sans abri hébergé, il va retrouver sa dignité, son envie, sa motivation. Une
                        famille est là pour l'accueillir et lui donner de l'amour. Vous allez également partager une
                        aventure " riche " à tous les niveaux, comme toutes les personnes qui l'ont expérimenté .
                    </p>
                </div>
                <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-trophy fa-stack-1x fa-inverse"></i>
          </span>
                    <h4 class="service-heading">Etape 3 : L'emploi</h4>
                    <p class="text-muted">
                        Le sans-domicile-fixe est dans de bonnes conditions pour rechercher un emploi. Il est propre sur
                        lui, confiant et prêt pour se réinsérer dans la vie active.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section bg-light" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="text-muted">Damien est sorti de la rue grâce au procédé</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Tb0XxH1W25o?rel=0"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zgtVXX9MPco"
                                allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/x1zo_a6PTzM"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}